<div class="text.center">
    <h1 class="display-4">Este el el index</h1>
</div>

<p>
    <a asp-controller="DocumentTypes" asp-action="Create" class="btn btn-primary">Create new document type</a>
</p>

<table class="table">
    <thead>
        <tr>
            <th>id</th>

            <th>name</th>

            <th>abbreviation</th>

            <th>description</th>

            <th>actions</th>
        </tr>
    </thead>
    <tbody>

        @foreach (var element in Model)
        {
            <tr>
                <td>
                    @element.Id
                </td>
                <td>
                    @element.Name
                </td>
                <td>
                    @element.Abbreviation
                </td>
                <td>
                    @element.Description
                </td>
                <td>
                    <a asp-action="Details" asp-route-id="@element.Id" class="btn btn-info">Details</a>
                    <a asp-action="Edit" asp-route-id="@element.Id" class="btn btn-warning">Edit</a>
                    <a asp-action="Delete" asp-route-id="@element.Id" class="btn btn-danger">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
